@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.grid-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}

.grid-wrapper button {
    width: 33%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    background-color: #8FBC94;
    border-radius: 4px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}

.grid-wrapper button:hover {
    cursor: pointer;
    background-color: #66A36C;
}

.grid-wrapper a {
    text-decoration: none;
    color: #004E89;
}

.grid-wrapper a:hover {
    color: #008BF5;
}

.grid-wrapper h1 {
    color: #004E89;
}